<footer class="text-center text-lg-start" style="background-color: #db6930;">
  <div class="container d-flex justify-content-center py-5">
    <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-twitter-x"></i>
  </div>

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="https://davidromez.com/">davidromez.com</a>
  </div>
  <!-- Copyright -->
</footer>